header {
    display: flex;
    justify-content: space-between;
    background-color: darkslateblue;
    border-bottom: 10px solid black;
    padding: 10px 20px;
    
}
#img{
    width: 60px;
    height: 60px;
    box-shadow: 2px 2px 1px black;
}
#img:hover{
    transform: scale(1.055) ;
    color:black;
    transition: color 0.3s ease;
}
nav{
    text-align: right;
    
}
nav a {
    display: inline-flex;
    align-items: center;
    color: white;
    font-size: 18px;
    font-family: "Fira Code", sans-serif;
    font-weight: normal;
    text-decoration: none;
    text-shadow: 2px 2px 1px black;
    margin-right: 30px;
}
a::before{
    content: "";
    background-color: crimson;
    height: 10px;
    width: 10px;
    margin-right: 10px;
    vertical-align: middle;
}
nav a:hover{
    color:black;
    transition: color 0.3s ease;
}
#button{
    background-color:crimson;
    height: 60px;
    line-height: 60px;
    padding-left: 10px;
    padding-right: 20px;
    margin-right: 0;
    box-shadow: 5px 5px 0px black;
}
#button:hover{
    transform: scale(1.055);
}