.card-project{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f09e98;
    box-shadow: 10px 10px black;
    max-width: 200px;
    aspect-ratio: 1 / 1;
    width: 100%;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card-project .card-icon{
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

.card-project:hover {
  transform: scale(1.1);
}
