.main-description{
    padding-top: 40px;
    color: white;
    font-family: "Fira Code", sans-serif;
    line-height: 1.6;
    font-size: 20px;
    font-weight: 300;
    text-shadow: 2px 2px 0px black;
    text-align: left; 
    max-width: 700px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .main-description {
        text-align: justify;
    }
}