.main-input{
    box-sizing: border-box;
    border: 5px solid black;
    width: 100%;
    min-height: 50px;
    font-size: 30px;
    padding: 0 5px;
    resize: none;
}

.main-input.textarea{
    height: 360px;
}