.main-box{
    display: inline-block;
    background-color: #5c5f82;
    text-align: center;
    box-shadow: 10px 10px 0px black;
    padding: 42px 45px;
}

.main-box .main-title{
    margin-bottom: 20px;
}