.main-title{
    color: #efb9cd;
    font-family: "Press Start 2P", sans-serif;
    font-size: 30px;
    text-shadow: 4px 4px 0px black;
}

.main-title.skills{
    color: #5c5f82;
    font-family: "Press Start 2P", sans-serif;
    font-size: 30px;
    text-shadow: 4px 4px 0px black;
    text-align: center;
}


.main-title.projects{
    color: #efb9cd;
    font-family: "Press Start 2P", sans-serif;
    font-size: 30px;
    text-shadow: 4px 4px 0px black;
    text-align: center;
}