.main-banner {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 40px 0; 
    background-image: url(../../assets/gif/train.gif);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 590px;
    border-bottom: 10px solid black;
}

.main-banner .box {
    width: 450px;
    margin-top: 80px; 
    position: relative;
}