.main-title{
    color: #f09e98;
    font-family: "Press Start 2P", sans-serif;
    font-size: 30px;
    text-shadow: 4px 4px 0px black;
}

.main-title.skills,
.main-title.projects,
.main-title.about,
.main-title.contacts {
    font-family: "Press Start 2P", sans-serif;
    font-size: 26px;
    text-shadow: 4px 4px 0px black;
    text-align: center;
    color: #f09e98;
}
