.skill-tec{
    display: flex;
    color: #5c5f82;
    font-family: "Press Start 2P", sans-serif;
    font-size: 20px;
    text-shadow: 2px 2px 0px black;
}
.skill-tec .icon{
    box-shadow: none;
    margin-right: 10px;
} 