.skill-tec{
    display: flex;
    align-items: center;
    color: #f09e98;
    font-family: "Press Start 2P", sans-serif;
    font-size: 18px;
    text-shadow: 4px 4px 0px black;
    flex: 1 1 300px;
    max-width: 350px;
}
.skill-tec .icon{
    filter: drop-shadow(1px 1px 0px black);
    box-shadow: none;
    margin-right: 10px;
    width: 70px;
    height: 70px;
    
} 
.skill-tec .right{
    display: flex;
    flex-direction: column;
    gap: 3px
}
.skill-tec .title{
    padding-bottom: 10px;
    font-size: 22px;
}